@-webkit-keyframes example {
  from {
    fill: black; }
  to {
    fill: grey; } }

@keyframes example {
  from {
    fill: black; }
  to {
    fill: grey; } }

.left-pupil, .right-pupil {
  fill: black;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 19s;
  animation-iteration-count: infinite; }

.mouth {
  stroke-dasharray: 1000;
  animation: dash 18s linear;
  animation-iteration-count: infinite; }

@keyframes dash {
  to {
    stroke-dashoffset: 10;
    transform: scale(0.8);
    transform-origin: 260px 311px; } }

.lights {
  stroke-dasharray: 100;
  animation: dash 5s linear; }

@keyframes dash {
  to {
    stroke-dashoffset: 1000; } }
